.container {
    background-color: #B52224;
}

.red{
    background-color: #B52224;
}

.orange{
    background-color: #E38F27;
}

.blue{
    background-color: #79BAD8;
}
.yellow{
    background-color: #FCDA31;
}
.cyan{
    background-color: cyan;
}
.purple{
    background-color: yellow;
}

.green{
    background-color: #004225;
}


.content{
    height: 200px; 
    
    position: relative;
}

#vertCenter1 {
    background-color: gray;
    display: table;
    background: white;
    margin: auto;
}

#vertCenter1 p {
    display: table-cell;
    margin: 0;
    background: black;
    color: white;
    vertical-align: middle;
  }

#vertCenter2 {
    background-color: black;
    color: white;
    position: relative;
}

#vertCenter2  p {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 100px;
    background-color: orange;
    margin: 0;
}

#vertHorizCenter1 {
    background-color: blue;
    color: white;
    position: relative;
}

#vertHorizCenter1 img {
    width: 100px;
  height: 100px;
  padding: 20px;

  position: absolute;
  top: 50%;
  left: 50%;

  margin: -70px 0 0 -70px;
}

#vertHorizCenter2 {
    background-color: green;
    position: relative;
}
#vertHorizCenter2 img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* NOW IT IS THE BASIC STYLE BELOW */

.img-header{
    width: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
   
}

.body-text {
    font-family: 'ZCOOL XiaoWei', serif;
    color: black;
    font-size: 16px;
}