/* - @Media query
○ As long as the browsers width is 700px
○ .desktop = none
○ If more than 700 pixels, type class desktop as block, class mobile as none */


.desktop {
    display:none;   
}



/*************MEDIUM SCREENS*******************/
@media (min-width: 768px){
    .desktop {
        display: block !important;
    }

    .mobile{
        display: none !important;
    }
}