nav{
    background-color: #fe001a;
    padding: 5px 5px;
    
}
nav ul {
    margin-left: auto;
    display: inline-block;
    float: right;
    margin-top: 36px;
    margin-right: 30px;
}


nav li {
    list-style-type:  none;
    display: inline-block;
    color: white;
    font-size: 20px;
    padding-right: 20px;


}

nav li:hover{
    font-weight: 900;
    border: 1px solid;
}

body{
    font-family: 'PT Sans', sans-serif;
    margin: 0;

}

.mobile {
    display: inline-block;
    float: right;
}
.mobile .hamburger{
    width: 50px;
    display: inline-block;
    
}

.mobile .hamburger span{
    background-color: #fff;
    height: 2px;
    width: 100%;
    display: block;
    margin-top: 5px;
}


.mobile .menu{
position: absolute;
right: 0;
background-color: black;
top: 115px;
bottom: 0px;
margin: 0;
}

.mobile li {
    display: block;
}



.desktop {
    display: none;
}