nav{
    background-color: #fe001a;
    padding: 5px 5px;
    
}
nav ul {
    margin-left: auto;
    display: inline-block;
    /* float: right; */
    margin-top: 36px;
    margin-right: 30px;
    position: absolute;
    top: 3px;
    right: 30px;
}


nav li a {
    list-style-type: none;
    
    color: white;
    font-size: 20px;
    padding-right: 20px;
    text-align: center;
}

nav li {
    list-style-type: none;
    display: inline-block;
    
}

nav li:hover{
    font-weight: 900;
    border: 2px solid; 
    border-radius: 5px;
    background-color: #ffbfc6;
    margin: 5px 5px 5px 10px;

}

body{
    font-family: 'Montserrat', sans-serif;
    margin: 0;

}

.mobile {
    display: inline-block;
    float: right;
    top: 50px;
}






.mobile .hamburger{
    width: 30px;
    display: inline-block;
    height: 50px;
    top: 50px;
}

.mobile .hamburger span{
    background-color: #fff;
    height: 2px;
    width: 100%;
    display: block;
    margin-top: 5px;
    
}

.active_link{


}

.mobile .menu{
position: absolute;
right: 0;
background-color: black;
top: 115px;
bottom: 0px;
margin: 0;
height: 100px;
width: 100%
}

.mobile li {
    display: block;
}



/* .desktop {
    display: none;
} */