
Midterm/images/Home/jeffsdodgers.png
Midterm/images/Home/hotdog.png
Midterm/images/Home/homewithshadow.png
Midterm/images/Home/home.png
Midterm/images/Home/burger.png
Midterm/images/Home/.DS_Store
Midterm/images/footer.png
Midterm/images/facebook.png
Midterm/images/About/horus.png
Midterm/images/About/catering.png
Midterm/images/.DS_Store
Midterm/Fonts/jeffs.css
Midterm/Fonts/bitter-regular-webfont.woff2
Midterm/Fonts/bitter-bold-webfont.woff2
Midterm/Fonts/armata-regular-webfont.woff2
Midterm/Fonts/aguafinascript-webfont.woff2
Midterm/about.html
Midterm/.DS_Store
Midterm revisions/webmenu.psd
Midterm revisions/style.css
Midterm revisions/menu.html
Midterm revisions/main.js
Midterm revisions/layout.css
Midterm revisions/index.html
Midterm revisions/images/twitter.png
Midterm revisions/images/shazam-home.png
Midterm revisions/images/QUOTE.png
Midterm revisions/images/Menu/menu-sides.png
Midterm revisions/images/Menu/menu-drinks.png
Midterm revisions/images/Menu/burgers.png
Midterm revisions/images/Menu/.DS_Store
Midterm revisions/images/laweekly.png
Midterm revisions/images/jeffs-logofooter.png
Midterm revisions/images/jeffs-logo.psd
Midterm revisions/images/jeffs-logo.png
Midterm revisions/images/jeffs-logo-small.psd
Midterm revisions/images/jeffs-logo-small.png
Midterm revisions/images/instagram.png
Midterm revisions/images/Home/jeffsdodgers.png
Midterm revisions/images/Home/hotdog.png
Midterm revisions/images/Home/homewithshadow.png
Midterm revisions/images/Home/home.png
Midterm revisions/images/Home/burger.png
Midterm revisions/images/Home/.DS_Store
Midterm revisions/images/footer.png
Midterm revisions/images/facebook.png
Midterm revisions/images/About/horus.png
Midterm revisions/images/About/catering.png
Midterm revisions/images/.DS_Store
Midterm revisions/Fonts/jeffs.css
Midterm revisions/Fonts/bitter-regular-webfont.woff2
Midterm revisions/Fonts/bitter-bold-webfont.woff2
Midterm revisions/Fonts/armata-regular-webfont.woff2
Midterm revisions/Fonts/aguafinascript-webfont.woff2
Midterm revisions/about.html
Midterm revisions/.DS_Store
Final/style.css
Final/lion-conservators-center.jpg
Final/layout.css
Final/index.js
Final/index.html
Final/images/randomImage.jpeg
Final/images/mainbanner.png
Final/images/mainbanner-2.png
Final/images/logo.png
Final/images/logo.gif
Final/images/logo-2.png
Final/images/icons/fb.png
Final/images/home-savinganimals.png
Final/images/home-save.png
Final/images/home-invest.png
Final/images/header-img.jpg
Final/images/.DS_Store
Final/fonts/webfont.ttf
Final/fonts/.DS_Store
Final/donate.html
Final/blog.html
Final/about.html
Final/.DS_Store
