







/**********  BLOG **********/

.main-content {
    display: flex; 
    margin: auto;
    /* width: 80%; */
}

.blog-container {
    display: flex;
    flex-direction: column;
    margin: 40px;
    width: 80%;
    
}

.blog-card{
    width: 80%;
    /* top: 50px; */
    background-color: pink;
    margin-left: 20px;
}

.blog-pic-img{
   
    width: 300px;
    background-position-x: 40%;
}

.blog-header{
    font-size: 36px;
    font-family: 'webfont';
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 5px;
}

.blog-subheader{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 20pt;
}

.blog-copy{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 20pt;
}

.blog-side-img{
    display: none;
}

.video{
    width: 360px;
}

aside {

}