/* TYPOGRAPHY :: MAIN DONATE PAGE */

.donate-header{
    font-size: 48px;
    font-family: 'webfont';
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 5px;
}

.donate-subheader{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 20pt;
    
}

.donate-copy{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 20pt;
}

/* TYPOGRAPHY :: DONOR AND PAYMENT FORMS */
.donor-info-form-header{
    font-size: 26px;
    font-family: 'webfont';
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 15px;
    margin-left: 56px;
    color: #006438;
    
}

.donate-amount-container{
    display: flex;
    margin-bottom: 30px;
    margin-left: 56px;
    /* margin: auto; */
}

/* SIDE IMAGE*/

.donate-amount-container .right img {
    display: none;
}

/* FORM BUTTON STYLING*/
.payment-amount {
    display: flex;
    margin: auto;
}
.donate-amount-lbl {
    background-color: #f9c244;
    padding: 10px;
    width: 50px;
    align-items: center;
    border-radius: 15px 5px 15px 5px;
    display: flex;
    margin-right: 20px;
}

.donate-btn {
    display: none;
}
.donate-btn:checked + .donate-amount-lbl {
    background-color: #006438;
}

.donate-btn:hover {
    background-color: #f9c244;
    /* opacity: 0.03; */
    transition: 0.3s
}

.donate-btn:active {
    background-color: #c19020;

}
/* FORM STYLING */
.row-container{
    margin-left: 56px;
}

.donor-info-form .row-container {
    display: flex;
    width: 500px;
    margin-bottom: 20px;
}

.donor-info-form .row-container label {
    width: 100px;
}

.donor-info-form .row-container input:first-of-type {
margin-right: 10px;
}

.donor-info-form .row-container input, .donor-info-form .row-container select {
    flex: 1;
}

.donor-info-form .row-container input {
    outline: none;
    padding: 0 10px;
    height: 30px;
}