/*************SMALL SCREENS********************/
@media (min-width: 520px) {
    /* body {
        background-color: blue;
    } */

    .small-width-25 {
        width: 25%;
    }

    .small-width-33 {
        width: 33.3333%;
    }

    .small-width-50 {
        width: 50%;
    }

    .small-width-100 {
        width: 100%;
    }



    /*************MEDIUM SCREENS*******************/
    @media (min-width: 768px) {
        /* body {
        background-color: orange;
    } */


        .med-width-25 {
            width: 25%;
        }

        .med-width-33 {
            width: 33.3333%;
        }

        .med-width-50 {
            width: 50%;
        }

        .med-width-100 {
            width: 100%;
        }





        /*************LARGE SCREENS*******************/
        @media (min-width: 992px) {


            .text-on-image {
                font-size: 40px;
            }

            .body-header {
                font-size: 82px;
            }

            .large-width-25 {
                width: 25%;
            }

            .large-width-33 {
                width: 33.33333%;
            }

            .large-width-50 {
                width: 50%;
            }

            .large-width-100 {
                width: 100%;
            }
