@font-face {
    font-family: 'webfont';
    src: url('fonts/webfont.ttf');
    font-style: normal;
}



body {
    margin: 0px;
}

ul {
    padding: 0;
    margin: 0;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

/* a.head */



a.take-action:hover {
    background-color: #f9c244;
    /* opacity: 0.03; */
    transition: 0.3s
}

a.take-action:active {
    background-color: #c19020;

}

#view-more:hover {
    background-color: #f9c244;
    /* opacity: 0.03; */
    transition: 0.3s
}

#view-more:active {
    background-color: #c19020;

}


header .top {
    display: flex;
    justify-content: flex-end;
    margin: 0;
    background-color: black;
    padding: 0 20px;
    height: 25px;
}

header .top li {
    margin-left: 10px;
    font-size: 17px;
    font-family: 'webfont';
    color: white;

}

.contact {
    top: 102px;

}


header .top .icon-wrapper-flag {
    width: 20px;
    display: inline-flex;
    margin-right: 10px;

}


header .top .icon-wrapper {
    display: flex;
}

header .top .icon-wrapper img {
    width: 20px;
}


/* Mobile Menu */

#mobile-menu {
    display: flex;
    align-items: center;
}

/* #hamburger-icon{
    width: 60px;
  
  position: relative;
  
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

#hamburger-icon span{
    display: block;
    position: absolute;
    height: 9px;
    width: 100%;
    background: #d3531a;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
} */

#mobile-menu #hamburger-icon {
    width: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 10001;
    position: fixed;
    right: 20px;
    /* background-color: white; */
    background-color: #e6ad23;
    width: 50px;
    height: 50px;
    border-radius: 15px 5px 15px 5px;
    box-shadow: 0px 0px 21px -6px rgba(0, 0, 0, 0.51);
}



#mobile-menu #hamburger-icon span {
    width: 30px;
    height: 3px;
    border-radius: 15px 5px 15px 5px;
    background-color: white;
    margin-bottom: 4px;

}

#logo-big {
    display: none;
}

#logo-big {
    width: 50px;
}

/* #mobile-menu #hamburger-icon span  {
    width: 100px;
    height: 100px;
   \
} */

#mobile-menu .menu-container {
    position: fixed;
    /* background-color: #f0f0f0; */
    /* background-color: #006438; */
    /* background-color: darkgray; */
    background-color: rgb(44, 60, 49);
    opacity: .95;
    box-shadow: none;
    top: 0;
    right: 0;
    bottom: 0;
    width: 200px;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    padding-top: 120px;
    padding-right: 40px;
    /* animations */
    transform: translateX(100%);
    transition: transform 200ms ease;
}

#mobile-menu.open .menu-container {
    transform: translateX(0%);
    box-shadow: -9px 0px 100px -49px;
}

/* #mobile-menu.open  #hamburger-icon span{
   display: none;
} */

#mobile-menu .menu-container li {
    margin-bottom: 30px;
}


/* NavBar (Header Bottom) */

header {
    box-shadow: 3px 23px 21px -8px rgba(0, 0, 0, 0.4);
}

header .bottom {
    /* background-color: #e6ad24; */
    background-color: #006438;
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
    /* background-color: pink; */
}

header .bottom .desktop-menu {
    display: none;
}

.desktop-menu-item {
    color: white;
    padding: 10px;
}

a.desktop-menu-item:hover {
    background-color: #f9c244;
    border-radius: 15px 5px 15px 5px;
    transition: 0.3s
}

a.desktop-menu-item.active {
    background-color: #c19020;
    border-radius: 15px 5px 15px 5px;
    transition: 0.3s
}


header .bottom ul {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;

}

header .bottom ul li {
    margin-left: 40px;
    font-size: 28px;
    font-family: 'webfont';
    text-transform: uppercase;
    color: white;
    letter-spacing: 2px;
}

/* BANNER IMAGE */
.header-img {
    /* position: relative; */
    /* background-color: palevioletred; */
    height: 400px;
    width: 100%;
    background-image: cover;
    background-size: cover;




    background-repeat: no-repeat;
    position: relative;
    background-position: center;
}

.header-img .gradient-overlay {
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.02), rgba(0, 0, 0, 0.73));
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

#home-header-img {
    background-image: url('images/mainbanner-2.png');

}


#blog-header-img {
    background-image: url('images/blog.jpg');
}

/* * { box-sizing: border-box; }
.video-background {
  background: #000;
  position: fixed;
  top: 0; right: 0; bottom: 0; left: 0;
  z-index: -99;
}
.video-foreground,
.video-background iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
} */


#about-header-img {
    background-image: url('images/about/banner-copy-about.png');
}


.header-img img {
    z-index: -1;

    /* width: 100%; */
    /* height: 100%; */
    background-image: cover;
    background-position: center;
    height: 100%;
    position: absolute;
}


.header-img-text {
    font-size: 36px;
    font-family: 'Open Sans', sans-serif;
    color: white;
    position: relative;
    text-shadow: 2px 2px 9px #190B07;   
}

.header-img-subtext {
    font-size: 26px;
    bottom: 10%;
    left: 30px;
    font-family: 'Open Sans', sans-serif;
    color: white;
    position: absolute;
    
    text-shadow: 2px 2px 9px #190B07;

}

.header-img h1 {
    z-index: 1;
    position: absolute;
    bottom: 40%;
    left: 30px;
    /* top: 280px; */

    /* margin-top: 50px; */

    /* transform: translateY(-50%); */
}

/* ******************* OUR MISSION TEXT ************************* */

.header-text {
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f3f0e9;

    background-image: cover;
    background-position: center;

    /* background-color: #e6ad23;  */
    text-align: center;
    color: black;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
}

.header-text span {
    width: 90%;
}

/* ******************* HEADER FOR 3 BOX LAYOUT ************************* */

.learn-header {
    text-align: center;
    font-family: 'webfont';
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #006438;

}

.our-mission-header{
    text-align: center;
    font-family: 'webfont';
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #727272;
    margin: 3px;
}

/* ******************* 3 BOX LAYOUT IMAGE GRID ************************* */
.three-boxes {
    justify-content: space-between;
    margin: 50px 40px;

}

.three-boxes .card {
    width: 300px;
    /* mobile */
    margin: 0 auto;

}

.card-subHeading {
    /* font-family: 'Open Sans', sans-serif; */
    font-size: 26px;
    font-family: 'webfont';
    text-transform: uppercase;
    letter-spacing: 2px;
}

.card-text {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 20pt;
}

.three-boxes .card img {
    width: 100%;
    box-shadow: 0px 10px 44px -17px rgba(0, 0, 0, 0.75);
    /* border-radius: 15px 50px 30px 5px;  */
    border-radius: 15px 5px 15px 5px;
    /* overflow: hidden; */
}

/* 
.three-boxes .card img:hover{
    transform: scale(1.1);
    transition: .3;
    

} */



/* ******************* BUTTONS ************************* */

#view-more button {
    align-items: flex center;
}

#view-more {
    font-size: 25px;
    padding: 20px 40px;
    border-radius: 15px 5px 15px 5px;
    background-color: #e6ad23;
    display: block;
    font-family: 'webfont';
    color: white;
    text-align: center;
    width: 200px;
    /*needed a width, otherwise stretches to entire screen*/
    margin: auto;
    margin-bottom: 50px;
    /*works on a block element*/
    box-shadow: 0px 10px 44px -17px rgba(0, 0, 0, 0.75);
}



.take-action-div {
    align-items: flex center;
}

.take-action {
    font-size: 25px;
    padding: 20px 40px;
    border-radius: 15px 5px 15px 5px;
    background-color: #e6ad23;
    display: block;
    font-family: 'webfont';
    color: white;
    text-align: center;
    width: 200px;
    /*needed a width, otherwise stretches to entire screen*/
    margin: auto;
    /*works on a block element*/
    box-shadow: 0px 10px 44px -17px rgba(0, 0, 0, 0.75);
}

/* *************** FOOTER ******************* */
footer {
    margin-top: 50px;
    background-color: #006438;
    padding: 30px;
}

footer .top {
    display: flex;
    justify-content: center;
}

.footer-header {
    font-size: 28;
    font-family: 'Open Sans', sans-serif;
    color: white;
}

.contact-container {
    font-family: 'Open Sans', sans-serif;
    color: white;
}

footer .main {
    display: flex;
    justify-content: space-between;

    font-family: 'Open Sans', sans-serif;
    color: white;

}

footer .left .inner-main {

    font-family: 'Open Sans', sans-serif;
    color: white;

}


footer .inner-main {
    width: 40%;
}

footer .footer-bottom {
    display: flex;
    justify-content: space-between;
    font-size: 3;
    font-family: 'Open Sans', sans-serif;
    color: white;
}

footer .footer-bottom ul {
    display: flex;
    font-size: 9;
    font-family: 'Open Sans', sans-serif;
    color: white;
}








/*************SMALL SCREENS********************/
@media (min-width: 520px) {


    .three-boxes .card {
        width: 400px;
        /* mobile */
    }

    .three-boxes {
        /* display: flex !important;
        justify-content: space-between; */
        margin: auto;
    }


}





/* nav breakpoint*/
@media (min-width: 792px) {
    .desktop-menu {
        display: block !important;
    }

    #logo-big {
        display: inline-block;
    }

    #logo-small {
        display: none;
    }

    .mobile-menu {
        display: none;
    }

    #hamburger-icon {
        display: none !important;
    }

    #mobile-menu .menu-container {
        display: none !important;
    }

}

/*************MEDIUM SCREENS*******************/
@media (min-width: 768px) {

    /* body {
    background-color: orange;
} */
    .header-img h1 {
        z-index: 1;
        position: absolute;
        bottom: 50%;
        left: 50px;
        /* top: 280px; */

        /* margin-top: 50px; */

        /* transform: translateY(-50%); */
    }
    .header-img-subtext {
        font-size: 26px;
        bottom: 15%;
        left: 50px;
    }
    .header-text span {
        width: 70%;
    }
    .blog-card {
        width: 70% !important;
        /* top: 50px; */
        background-color: pink;
        margin-left: 10px;
    }

    .blog-container {
        display: flex;
        flex-direction: column;
        margin: 50px;
        width: 70%;
    }

    .blog-side-img {
        display: block !important;
    }

    .med-width-25 {
        width: 25%;
    }

    .med-width-33 {
        width: 33.3333%;
    }

    .med-width-50 {
        width: 50%;
    }

    .med-width-100 {
        width: 100%;
    }

    .three-boxes .card {
        width: 90%;
    }

    .three-boxes {
        /* display: flex !important;
        justify-content: space-between; */
        margin: auto;
    }

    .three-boxes .card {
        /* height: 100px; mobile */
        /* margin: auto; */

    }
}


/*************LARGE SCREENS*******************/
@media (min-width: 992px) {
    .header-img h1 {
        z-index: 1;
        position: absolute;
        bottom: 50px;
        left: 50px;
        /* top: 280px; */

        /* margin-top: 50px; */

        /* transform: translateY(-50%); */
    }
    .header-img-text {
        font-size: 48px;
    }
    .header-img-subtext {
        font-size: 26px;
        bottom: 20px;
        left: 50px;
    }
    .header-text span {
        width: 60%;
    }
    .text-on-image {
        font-size: 40px;
    }

    .body-header {
        font-size: 82px;
    }

    .large-width-25 {
        width: 25%;
    }

    .large-width-33 {
        width: 33.33333%;
    }

    .large-width-50 {
        width: 50%;
    }

    .large-width-100 {
        width: 100%;
    }


    .three-boxes .card {
        width: 300px;
    }

    .three-boxes {
        display: flex !important;
        justify-content: space-between;
        /* margin: 50px 40px; */
    }

    .three-boxes .card img {

        box-shadow: 0px 10px 44px -17px rgba(0, 0, 0, 0.75);
        /* border-radius: 15px 50px 30px 5px;  */
        border-radius: 15px 5px 15px 5px;
    }
}

/************* VERY LARGE SCREENS*******************/
@media (min-width: 1400px) {
    .three-boxes .card {
        width: 30%;
    }

    .three-boxes {
        display: flex !important;
        justify-content: space-between;
        /* margin: 50px 40px; */
    }
}