/* NAVBAR*/
nav.navbar{
    width: 100%;
    /* padding: 20px 0px; */
    min-height: 10px;
    position: relative;
    
}
nav.navbar{
    background-image: linear-gradient(#494949, #222222);

}
  
nav.navbar #logo img {
    width: 100px;
    margin-left: 30px;
}

nav.navbar #logo {
    display: inline-block;
}

nav.navbar ul {
    display: inline-block;
    position: absolute;
    top: 20%;
    
}

nav.navbar li { 
    display: inline-block;
}

nav.navbar ul li a { 
    font-size: 24px;
    line-height: 36px;
    padding: 10px;
    font-family: 'Poppins', sans-serif;
    color: white;
    list-style-type: none;
    text-decoration: none;
    text-align: center;
 
}

nav.navbar ul li a.active-link {
    color: #3483f1;
    border-bottom: 3px solid #3483f1;

}


.content{
    padding: 0px 10px;
    min-height: 572px;
    border-bottom: 2px solid darkorchid;
    position: relative;

    /* The margins and padding share this system of shortcuts where you can use any number of values between 2 and 4.  */
}


.content .img-container {
    min-height: 160px;
    position: relative;
    /* we want this title position to sit against this relative container */
}
.content img{
    max-width: 100%;
}

.content .abs-pos{
    position: absolute;
}

#jkrOverlap{
    top: 30x;
}

#jkrTitle {
    top: 200px;
    right: 30px;
    color:whitesmoke;
    font-family: 'Poppins', sans-serif;
    font-size: 15pt;
    text-shadow: 1px 0px 4px #e34344;
    /* one off case, this is when we use ids. We would use a class as a rule bc they can be applied to multiple things */
}

.page-header{
    color: #3483f1;;
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    margin: 10px;
    top: 10px;
    margin: 0px;

}


.image-header{
    color: whitesmoke;
    font-family: 'Poppins', sans-serif;
    font-size: 16pt;
    text-shadow: 1px 0px 4px black;
    position: absolute;
    top: 10px;
    margin: 0px;
    /* removed it from the don flow but it still shows - does not affect any other elements. We must put it inside the picture's container. Next make it so that it is relative to its parent container */
}
.sub-header{
    color: rgb(24, 24, 31);
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
}
.body-text{
    color: rgb(24, 24, 31);
    font-family: 'Poppins', sans-serif;
    font-size: 16px;

}





    

