/* IMPORTED FONTS FROM WEBSITE */

@font-face {
    font-family: 'bitter';
    src: url('fonts/bitter-regular-webfont.eot');
    src: url('fonts/bitter-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/bitter-regular-webfont.woff2') format('woff2'),
         url('fonts/bitter-regular-webfont.woff') format('woff'),
         url('fonts/bitter-regular-webfont.ttf') format('truetype'),
         url('fonts/bitter-regular-webfont.svg#bitterregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'bitter';
    src: url('fonts/bitter-bold-webfont.eot');
    src: url('fonts/bitter-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/bitter-bold-webfont.woff2') format('woff2'),
         url('fonts/bitter-bold-webfont.woff') format('woff'),
         url('fonts/bitter-bold-webfont.ttf') format('truetype'),
         url('fonts/bitter-bold-webfont.svg#bitterbold') format('svg');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'armata';
    src: url('fonts/armata-regular-webfont.eot');
    src: url('fonts/armata-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/armata-regular-webfont.woff2') format('woff2'),
         url('fonts/armata-regular-webfont.woff') format('woff'),
         url('fonts/armata-regular-webfont.ttf') format('truetype'),
         url('fonts/armata-regular-webfont.svg#armataregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'aguafina';
    src: url('fonts/aguafinascript-webfont.eot');
    src: url('fonts/aguafinascript-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/aguafinascript-webfont.woff2') format('woff2'),
         url('fonts/aguafinascript-webfont.woff') format('woff'),
         url('afonts/guafinascript-webfont.ttf') format('truetype'),
         url('fonts/aguafinascript-webfont.svg#aguafina_scriptregular') format('svg');
    font-weight: normal;
    font-style: italic;
}

/* SOCIAL ICONS IMPORT
@import url(https://fonts.googleapis.com/css?family=Lato);
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);
body {
    font-family: 'Lato', sans-serif;
    color: #FFF;
    background: #322f30;
    -webkit-font-smoothing: antialiased;
}
a {
    text-decoration: none;
    color: #fff;
}
p > a:hover{
    color: #d9d9d9;
    text-decoration:  underline;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin:  1% 0 1% 0;
}
._12 {
    font-size: 1.2em;
}
._14 {
    font-size: 1.4em;
}
ul {
    padding:0;
    list-style: none;
}
.footer-social-icons {
    width: 350px;
    display:block;
    margin: 0 auto;
}
.social-icon {
    color: #fff;
}
ul.social-icons {
    margin-top: 10px;
}
.social-icons li {
    vertical-align: top;
    display: inline;
    height: 100px;
}
.social-icons a {
    color: #fff;
    text-decoration: none;
}
.fa-facebook {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
}
.fa-facebook:hover {
    background-color: #3d5b99;
}
.fa-twitter {
    padding:10px 12px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
}
.fa-twitter:hover {
    background-color: #00aced;
}
.fa-rss {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
}
.fa-rss:hover {
    background-color: #eb8231;
}
.fa-youtube {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
}
.fa-youtube:hover {
    background-color: #e64a41;
}
.fa-linkedin {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
}
.fa-linkedin:hover {
    background-color: #0073a4;
}
.fa-google-plus {
    padding:10px 9px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
}
.fa-google-plus:hover {
    background-color: #e25714;
} */


/* ----------body----------------------- */
body {
    padding: 0px;
    margin: 0px;
}

/* -------------NAVBAR-------------------*/
.topbanner{
    
   
    /* padding: 20px 0px; */
    /* min-height: 20px; */
    
    color: white;
    
    z-index: 901;
    font-family: 'bitter', normal;
    font-size: 14px;

}

.topbanner{
    background-color: darkred;
    padding: 5px;
    text-align-last: right;
   
  
}


nav.navbar{
    width: 100%;
    /* padding: 20px 0px; */
    min-height: 40px;
    height: 80px;
    position: relative;
    color: #fffbcc;
    z-index: 900;
    
}

nav.navbar{
   background-color: #fffbcc;
   opacity: inherit;
   box-shadow: 1px 2px 20px rgba(24, 24, 31, .50);
   /* position DISTANCE - however far from the border (left) | strength | blur */

}
  
nav.navbar img {
    height: 80px;
    margin-left: 25px;
}



.hamburger {
    width: 35px;
    height: 5px;
    background-color: white;
    margin: 6px 0;
}
nav.hamburger-nav a {
    color: #fff;
    font-family: 'bitter', normal;


}

nav.navbar li { 
    display: inline-block;
}

nav.navbar ul li a { 
    font-size: 24px;
    line-height: 36px;
    padding: 10px;
    font-family: 'bitter', normal;
    color: white;
    list-style-type: none;
    text-decoration: none;
    text-align: center;
 
}

nav.navbar ul li a.active-link {
    color: black;
    border-bottom: 3px solid red;
}

nav.navbar ul li a.hover-link {
    color: gray;
    border-bottom: 3px solid red;
}


/* --------------CONTENT------------------- */

.content{
    padding: 0px 0px;
    min-height: 572px;
    /* border-bottom: 2px solid white; */
    position: relative;


    /* The margins and padding share this system of shortcuts where you can use any number of values between 2 and 4.  */
}


.content .img-container {
    min-height: 160px;
    /* height: 150px; */
    position: relative;
    /* we want this title position to sit against this relative container */
}
.content img{
    width: 100%;
    margin: 0px;
}

.content .abs-pos{
    position: absolute;
}








/*---------- TYPOGRAPHY---------- */


.page-header{
    color: white;
    font-family: 'bitter', normal;
    text-shadow: 10px 0px 14px black;
    margin: 0px;

}


#vertHorizCenter2 img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.sub-header{
    color: rgb(24, 24, 31);
    font-family: 'bitter', normal;
    font-size: 30px;
}

.menupage-header {
    color: #e5a946;
    font-family: 'bitter', normal;
    font-size: 28px;
    margin: 0px;
    left: 40px;
    position: relative;
  
}

.image-header{
    color: whitesmoke;
    font-family: 'bitter', normal;
    font-size: 36pt;
    text-shadow: 1px 1px 4px black;
    top: 40%;
    left: 33%;
    margin: 0px;
    /* removed it from the don flow but it still shows - does not affect any other elements. We must put it inside the picture's container. Next make it so that it is relative to its parent container */
}


.menuitem{
    font-family: 'bitter', normal;
    font-size: 12pt;
}
.menuprice{
    font-family: 'bitter', normal;
    font-size: 12pt;
    color: #e5a946;
}

#center{
    text-align: center;
    font-family: 'bitter', normal;
    font-size: 16pt;
}
.body-text{
    color: rgb(24, 24, 31);
    font-family: 'bitter', normal;
    font-size: 18px;
    margin-left: 40px;
}

.learn-more{
    color: rgb(174, 24, 24);
    font-family: 'bitter', normal;
    font-size: 20px;
    /* text-emphasis-color: gray; */
    background-color: #fffbcc;
    text-decoration-line: none;
    padding: 15px 32px;
    border-radius: 10px;
    box-shadow: rgba(24, 24, 31, .50);

}

/* FOOTER STYLING */

.footer-header-styling{
    font-family: 'bitter', normal;
    font-size: 24px;
    color: rgb(24, 24, 31);
   
}
.aboutcopy-styling{
    font-family: 'bitter', normal;
    font-size: 20px;
    color: rgb(24, 24, 31);
    /* padding: 300px 0px 0px 0px;
    background-position-x: 75%; */

   
}

.footer-body-styling{
    font-family: 'bitter', normal;
    font-size: 14px;
    color: rgb(24, 24, 31);
}




    


