nav ul {
    padding: 0px;
    margin: 0px;
    list-style: none;
    background-color: #DC5539;
}

nav>ul>li {
    border: 2px solid gray;
}

nav ul li ul {
    background-color: dodgerblue;
    width: 150px;
}
nav ul li ul li {
    width: 130px;
    margin: 0px;
    padding: 10px;
}
nav ul li ul li:hover {
    background-color: grey;
}

.logo{
    width: 150px;
}

body {
    margin: 0px;
}


@media(min-width: 768px){
    nav>ul>li {
        display: inline-block;
        position: relative;
        padding: 20px 40px;
    }

    nav ul li ul {
        position: absolute;
        background-color: dodgerblue;
        left: 34px;
        top: 59px;
        display: none;
    }

    nav ul li:hover ul {
        display: block;
    }
}

