body {
    margin: 0px;

    font-family: 'Roboto', sans-serif;
}

/* Controls the main navbar but @media will override this (for breakpoints)  */
nav.navbar{
    background-color: orangered;
    width: 100%;
    padding: 20px 0px;
    min-height: 20px;
    position: relative;
    
}
nav.navbar #logo img {
    width: 300px;;
}

nav.navbar a { 
    font-size: 24px;
    line-height: 36px;
    text-decoration: none;
    color:black;



    

}

/*FOR WHEN IT IS SMALL, MOBILE*/
nav.navbar ul{
    line-height: 20px; /* same as height! */
    padding-left: 0px;
    margin: 0px;
    text-align: center;
    color:black;
}

nav.navbar li{
    border-bottom: 1px solid white;
    display: inline-block;
    justify-content: right;
    
}

nav.navbar li a {
    color: white;
}

/* Controls the main container */
.container {
    background-color: salmon;
    width: 100%;
    /* height: 222px; */
}    

/* nav.navbar li:last-child {
  border-bottom: none;
} */
/*only selects the last child of  li*/


/*when screen is smaller than*/
@media (min-width:768px){

    nav.navbar ul{
        list-style: none();
        padding-left: 0px;
        margin: 0px;
        color:whitesmoke;
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
    }
    
    nav.navbar{
        background-color: orangered;
        width: 100%;
        margin: 0px auto;
        min-height: 90px;
        
    }
    .container{
        background-color: dodgerblue;
        width: 750px;
        margin: 0px auto;
        /* min-height: 300px' */

    }
}

@media (min-width:992px){
    nav.navbar ul{
        list-style: none;
        padding-left: 0px;
        padding-right: 50px;
        margin: 0px;
        /* glyph-orientation-horizontal: 50%;  */
        text-align: right;
    }
    .container{
        width: 100%;
        /* background-color: hsla(219, 76%, 52%, .9); */
        background-image: url("images/background.jpeg");
        background-repeat: no-repeat;
        background-size: cover;
        }
}

/* Page wide settings */
.portfolio-img{
    width: 600px;
}
.poster{
    width: 500px;
}
h2 {
    font-size:20px; 
    color: #F99931;
    font-weight:500;
}
/* img {
    width: 100%;  */

a {
    padding:10px;
    vertical-align: 50%;
}
a:link {
    text-decoration:none;
    color:#F99931;
}
a:visited {
    text-decoration:none;
    color:#F99931;
}
a:hover {
    color:#ffffff; 
    background-color:#cccccc;
}
a:active {
    color:red; 
    background-color:#F99931;
}
.active-link {
    color: #ff0000 ;
} 